{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <h1 class="text-center">Привет Django</h1>
    <img class="w-50 mx-auto d-block" src="{% static 'img/example.png' %}" alt="photo">
  </div>
  <form method="post" action="https://payeer.com/merchant/">
    <input type="hidden" name="m_shop" value="1527118333">
    <input type="hidden" name="m_orderid" value="12345">
    <input type="hidden" name="m_amount" value="150">
    <input type="hidden" name="m_curr" value="USD">
    <input type="hidden" name="m_desc" value="VGVzdCBwYXltZW50IOKEljEyMzQ1">
    <input type="hidden" name="m_sign" value="63F886F5BFD2D38E86BCF8844841B303CFCF480F8E1EC92C41AEA3394B050C6B">
    <input type="submit" name="m_process" value="send" />
    </form>
    <form method="post" action=" https://payeer.com/merchant/?m_shop=1527118333&m_orderid=12345&m_amount=150.00&m_curr=USD&m_desc=VGVzdCBwYXltZW50IOKEljEyMzQ1&m_sign=63F886F5BFD2D38E86BCF8844841B303CFCF480F8E1EC92C41AEA3394B050C6B&lang=ru">
      <input type="submit" name="m_process" value="send" />
      </form>
    
</body>
</html>
